body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card-container {
  margin: 20px auto;
  height: 600px;
  max-height: 600px;
}
.card-img {
  width: 100%;
  height: 14vw;
  object-fit: cover;
}
.spinner-placeholder {
  width: 80px;
  height: 80px;
}

.post {
  display: flex;
  margin: 10px 20px;
  max-width: 700px;
  border-radius: 5px;
  background-color: white;
}
.post.loading {
  justify-content: center;
}